@use "../settings/config";
@import "../tools/mixins";

.container {
    &--small {
        @include container--small;
    }

    &--small-padding {
        padding: 64px 128px;

        @media(max-width: map-get($breakpoints, "small-desktop")) {
            padding: 64px 64px;
        }

        @media(max-width: map-get($breakpoints, "tablet")) {
            padding: 32px 32px;
        }
        
        @media(max-width: map-get($breakpoints, "mid-tablet")) {
            padding: 16px 16px;
        }
    }

    &--pos-rel {
        position: relative;
    }

    &--of-hdn {
        overflow: hidden;
    }

}

.padding {
    &__left-super-small {
        padding-left: var(--space-super-small);
    }

    &__top-super-small {
        padding-top: var(--space-super-small);
    }

    &__top-medium {
        padding-top: var(--space-medium);
    }

    &__bottom-medium {
        padding-bottom: var(--space-medium);
    }

    &__bottom-small {
       padding-bottom: var(--space-small); 
    }

    &__top-small {
        padding-top: var(--space-small);
    }

    &__top-large {
        padding-top: var(--space-large);
    }
}


.flex {
    display: flex;

    &__column {
        flex-direction: column;
    }

    &__row {
        flex-direction: row;
    }

}

.margin {
    &__top-small {
        margin-top: var(--space-small);
    }

    &__top-super-small {
        margin-top: var(--space-super-small);
    }

    &__swiper-pagination {
        margin-top: 80px;

        @media(min-width: map-get($breakpoints, "mid-tablet")) {
            margin-top: 60px;
        }
    }
}

.flexible-block {
    @media(min-width: map-get($breakpoints, "large-desktop")) {
        display: flex;
        max-width: 1300px;
        margin: 64px auto;
        flex-direction: column;
    }
}