@use "../settings/config";

.icon {
    &__whatsapp-logo {
        width: 17.05px;
        height: 17.19px;
    }

    &__header-logo {
        width: 40.531px;
        height: 23.682px;
    }

    &__header-logo-text {
        width: 160.669px;
        height: 29.881px;
    }

    &__header-menu {
        width: 24px;
        height: 24px;
    }

    &__header-notification {
        width: 24px;
        height: 24px;
    }

    &__logo-white {
        height: 406px;
        width: 560px;
    }

    &__arrow {
        height: 24px;
        width: 24px;
    }

    &__header-video-form {
        width: 621px;
        height: 368px;
    }

    &__background-logo {
        width: 1068px;
        height: 621px;
    }
    
    &__review-logo {
        max-height: 72px;
        min-height: 72px;
        max-width: 72px;
        min-width: 72px;
    }

    &__footer-logo-white {
        width: 40px;
        height: 18px;

        @media (min-width: map-get($breakpoints, "small-tablet")) {
            width: 56.286px;
            height: 27.629px;
        }
    }

    &__footer-logo-text-white {
        width: 119.157px;
        height: 22.161px;

        @media (min-width: map-get($breakpoints, "small-tablet")) {
            width: 187.447px;
            height: 34.861px;
        }
    }

    &__footer-soc-media {
        width: 32px;
        height: 32px;
    }

    &__menu-logo-background {
        width: 836.049px;
        height: 488.508px;
    }

    &__notification-close-button {
        width: 20px;
        height: 20px;
    }

    &__drop-down-button {
        max-height: 24px;
        max-width: 24px;
        width: 100%;
        height: 100%;
        transform: rotate(180deg);
    }

    &__time {
        max-height: 24px;
        max-width: 24px;
        width: 100%;
        height: 100%;
    }

    &__background-team-member {
        width: 100%;
        height: 100%;
    }

    &__logo-text-small {
        width: 96.747px;
        height: 17.993px;
    }

    &__logo-small {
        width: 24.406px;
        height: 14.26px;
    }
}