@use "../settings/config";


.main-menu {
    position: fixed;

    width: 100%;
    top: 0;

    transition: transform 0.5s ease;

    z-index: 11;

    background-color: $color-purple;
    overflow: hidden;

    display: flex;

    flex-direction: column;
    justify-content: space-between;

    height: calc(var(--vh, 1vh) * 100);

    &.--is-closed {
        transform: translateX(120%);
    }

    &.--is-opened {
        transform: translateX(0%);
    }

    & .header__inner {
        position: relative;
    }

    & .header__mobile {
        position: relative;
        width: auto;
    }
}

.menu {

    &__links {
        display: flex;
        flex-direction: column;

        gap: 16px;

        & a {
            width: fit-content;
        }
    }

    &__background {
        position: absolute;
        z-index: -1;

        top: 20%;
        left: -20%;

        opacity: 0.4;

        width: 100%;

        & .icon__menu-logo-background {
            @media(max-width: map-get($breakpoints, "phone")) {
                width: 536.049px;
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;

        gap: 44px;

        &-links {
            display: flex;
            flex-direction: column;
            
            gap: 8px;

            & a {
                width: fit-content;
            }
        }
    }
}