.c-header-button {
    display: flex;

    padding: 16px 40px;
    border-radius: 16px;

    &.-bg-orange {
        background-color: $color-orange;
    }

    &.-bg-white {
        background-color: $color-white;
    }

    &.-gap8 {
        gap: 8px;
    }
}