@use "../settings/config";
@import "../tools/mixins";

.heading {
    @include heading;
}

.paragraph {
    @include paragraph;
}

.overline {
    font-family:  config.$font-primary;
    font-size: config.$font-size-paragraph;
    color: config.$color-purple;

    font-style: normal;
    font-weight: 600;
    line-height: config.$line-height-overline;
    text-transform: uppercase;
}

.text-wrapper {

    &__headline {
        max-width: 620px;
    }
}